In [2]:
import pandas as pd

In [3]:
base_zero = pd.read_csv('/home/saracandussio/NLP-project/results/testSet/testset-baseline-zeroshot.csv')
base_one = pd.read_csv('/home/saracandussio/NLP-project/results/testSet/testset-baseline-oneshot.csv')
# cot_zero = pd.read_csv('/home/saracandussio/NLP-project/results//testSet/testset-cot-zeroshot.csv')
cot_one = pd.read_csv('/home/saracandussio/NLP-project/results/testSet/testset-cot-oneshot.csv')

In [4]:
base_zero = base_zero.drop(columns=['Unnamed: 0'])
base_one = base_one.drop(columns=['Unnamed: 0'])
# cot_zero = cot_zero.drop(columns=['Unnamed: 0'])
cot_one = cot_one.drop(columns=['Unnamed: 0'])

In [8]:
merged_df = pd.merge(base_zero, base_one, on=['query', 'correct'])
merged_df = merged_df.rename(columns={'answer_x': 'baseline 0-shot', 'answer_y': 'baseline 1-shot'})
merged_df.head()

,query,correct,baseline 0-shot,baseline 1-shot
0,Janet’s ducks lay 16 eggs per day. She eats th...,18.0,NaN,56.0
1,A robe takes 2 bolts of blue fiber and half th...,3.0,NaN,3.0
2,Josh decides to try flipping a house. He buys...,70000.0,25000.0,100.0
3,James decides to run 3 sprints 3 times a week....,540.0,NaN,540.0
4,"Every day, Wendi feeds each of her chickens th...",20.0,NaN,10.0

In [11]:
# merged_df = pd.merge(merged_df, cot_zero, on=['query', 'correct'])
merged_df = pd.merge(merged_df, cot_one, on=['query', 'correct'])
merged_df = merged_df.rename(columns={'answer': 'CoT 1-shot', 'answer_y': 'CoT 0-shot'})
merged_df.head()

,query,correct,baseline 0-shot,baseline 1-shot,CoT 0-shot,CoT 1-shot
0,Janet’s ducks lay 16 eggs per day. She eats th...,18.0,NaN,56.0,18.0,18.0
1,A robe takes 2 bolts of blue fiber and half th...,3.0,NaN,3.0,3.0,3.0
2,Josh decides to try flipping a house. He buys...,70000.0,25000.0,100.0,70000.0,70000.0
3,James decides to run 3 sprints 3 times a week....,540.0,NaN,540.0,540.0,540.0
4,"Every day, Wendi feeds each of her chickens th...",20.0,NaN,10.0,20.0,20.0

In [12]:
# merged_df.to_csv('/home/saracandussio/NLP-project/results/merged_results.csv')

In [13]:
base_zero_matches = 0
base_one_matches = 0
cot_one_matches = 0

for i in range(len(merged_df)):
    if merged_df['correct'][i] == merged_df['baseline 0-shot'][i]:
        base_zero_matches += 1
    if merged_df['correct'][i] == merged_df['baseline 1-shot'][i]:
        base_one_matches += 1
    if merged_df['correct'][i] == merged_df['CoT 1-shot'][i]:
        cot_one_matches += 1

In [14]:
print(base_zero_matches/len(merged_df)*100)
print(base_one_matches/len(merged_df)*100)
print(cot_one_matches/len(merged_df)*100)

20.318423047763456
21.30401819560273
80.13646702047005

In [15]:
RAG_zero = pd.read_csv('/home/saracandussio/NLP-project/results/testSet/testset-baseline-RAG-zeroshot.csv')
RAG_one = pd.read_csv('/home/saracandussio/NLP-project/results/testSet/testset-baseline-RAG-oneshot.csv')

In [16]:
RAG_zero = RAG_zero.drop(columns=['Unnamed: 0'])
RAG_one = RAG_one.drop(columns=['Unnamed: 0'])

In [18]:
merged_df2 = pd.merge(RAG_zero, RAG_one, on=['query', 'correct'])
merged_df2 = merged_df2.rename(columns={'answer_x': 'RAG 0-shot', 'answer_y': 'RAG 1-shot', 
                                        'long answer_x': 'long RAG 0-shot', 'long answer_y': 'long RAG 1-shot'})
merged_df2.head()

,query,correct,long RAG 0-shot,RAG 0-shot,long RAG 1-shot,RAG 1-shot
0,Janet’s ducks lay 16 eggs per day. She eats th...,18.0,Janet's ducks lay 16 eggs per day. She eats 3...,NaN,Assistant: #### 40\n,40.0
1,A robe takes 2 bolts of blue fiber and half th...,3.0,2 + (2/2) = 2 + 1 = 3,NaN,Assistant: #### 4\n,4.0
2,Josh decides to try flipping a house. He buys...,70000.0,"Josh bought a house for $80,000 and put in $5...",70000.0,Assistant: #### 6240,6240.0
3,James decides to run 3 sprints 3 times a week....,540.0,"James runs 3 sprints of 60 meters each, so he...",180.0,Assistant: #### 180,180.0
4,"Every day, Wendi feeds each of her chickens th...",20.0,Wendi feeds each of her chickens 3 cups of mi...,NaN,Assistant: #### 120\n,120.0

In [19]:
RAG_zero_matches = 0
RAG_one_matches = 0

for i in range(len(merged_df2)):
    if merged_df2['correct'][i] == merged_df2['RAG 0-shot'][i]:
        RAG_zero_matches += 1
    if merged_df2['correct'][i] == merged_df2['RAG 1-shot'][i]:
        RAG_one_matches += 1

In [20]:
print(RAG_zero_matches/len(merged_df2)*100)
print(RAG_one_matches/len(merged_df2)*100)

24.412433661865048
2.9567854435178167

In [28]:
merged = pd.merge(merged_df, merged_df2, on=['query', 'correct'])
merged.head()

,query,correct,baseline 0-shot,baseline 1-shot,CoT 0-shot,CoT 1-shot,long RAG 0-shot,RAG 0-shot,long RAG 1-shot,RAG 1-shot
0,Janet’s ducks lay 16 eggs per day. She eats th...,18.0,NaN,56.0,18.0,18.0,Janet's ducks lay 16 eggs per day. She eats 3...,NaN,Assistant: #### 40\n,40.0
1,A robe takes 2 bolts of blue fiber and half th...,3.0,NaN,3.0,3.0,3.0,2 + (2/2) = 2 + 1 = 3,NaN,Assistant: #### 4\n,4.0
2,Josh decides to try flipping a house. He buys...,70000.0,25000.0,100.0,70000.0,70000.0,"Josh bought a house for $80,000 and put in $5...",70000.0,Assistant: #### 6240,6240.0
3,James decides to run 3 sprints 3 times a week....,540.0,NaN,540.0,540.0,540.0,"James runs 3 sprints of 60 meters each, so he...",180.0,Assistant: #### 180,180.0
4,"Every day, Wendi feeds each of her chickens th...",20.0,NaN,10.0,20.0,20.0,Wendi feeds each of her chickens 3 cups of mi...,NaN,Assistant: #### 120\n,120.0

In [29]:
merged.to_csv('semi-final.csv')