In [1]:
import pandas as pd

In [2]:
base_zero = pd.read_csv('/home/saracandussio/NLP-project/results/baseline-zeroshot.csv')
base_one = pd.read_csv('/home/saracandussio/NLP-project/results/baseline-oneshot.csv')
cot_zero = pd.read_csv('/home/saracandussio/NLP-project/results/cot-zeroshot.csv')
cot_one = pd.read_csv('/home/saracandussio/NLP-project/results/cot-oneshot.csv')

In [11]:
base_zero = base_zero.drop(columns=['Unnamed: 0'])
base_one = base_one.drop(columns=['Unnamed: 0'])
cot_zero = cot_zero.drop(columns=['Unnamed: 0'])
cot_one = cot_one.drop(columns=['Unnamed: 0'])

In [23]:
merged_df = pd.merge(base_zero, base_one, on=['query', 'correct'])
merged_df = merged_df.rename(columns={'answer_x': 'baseline 0-shot', 'answer_y': 'baseline 1-shot'})
merged_df.head()

,query,correct,baseline 0-shot,baseline 1-shot
0,Natalia sold clips to 48 of her friends in Apr...,72,72.0,72.0
1,Weng earns $12 an hour for babysitting. Yester...,10,10.0,10.0
2,Betty is saving money for a new wallet which c...,5,NaN,25.0
3,"Julie is reading a 120-page book. Yesterday, s...",42,NaN,36.0
4,James writes a 3-page letter to 2 different fr...,624,624.0,624.0

In [24]:
merged_df = pd.merge(merged_df, cot_zero, on=['query', 'correct'])
merged_df = pd.merge(merged_df, cot_one, on=['query', 'correct'])
merged_df = merged_df.rename(columns={'answer_x': 'CoT 0-shot', 'answer_y': 'CoT 1-shot'})
merged_df.head()

,query,correct,baseline 0-shot,baseline 1-shot,CoT 0-shot,CoT 1-shot
0,Natalia sold clips to 48 of her friends in Apr...,72,72.0,72.0,"First, we need to find out how many clips Nat...",72.0
1,Weng earns $12 an hour for babysitting. Yester...,10,10.0,10.0,Step 1: Convert the babysitting time from min...,10.0
2,Betty is saving money for a new wallet which c...,5,NaN,25.0,Step 1: Calculate the amount Betty has alread...,5.0
3,"Julie is reading a 120-page book. Yesterday, s...",42,NaN,36.0,Step 1: Determine the number of pages Julie r...,42.0
4,James writes a 3-page letter to 2 different fr...,624,624.0,624.0,Step 1: Determine the number of pages James w...,624.0

In [25]:
merged_df.to_csv('/home/saracandussio/NLP-project/results/merged_results.csv')

In [29]:
base_zero_matches = 0
base_one_matches = 0
cot_one_matches = 0

for i in range(len(merged_df)):
    if merged_df['correct'][i] == merged_df['baseline 0-shot'][i]:
        base_zero_matches += 1
    if merged_df['correct'][i] == merged_df['baseline 1-shot'][i]:
        base_one_matches += 1
    if merged_df['correct'][i] == merged_df['CoT 1-shot'][i]:
        cot_one_matches += 1

In [31]:
print(base_zero_matches/len(merged_df)*100)
print(base_one_matches/len(merged_df)*100)
print(cot_one_matches/len(merged_df)*100)

23.5
26.150000000000002
87.4